body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-body);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: var(--primary-color);
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--bg-container);
  border-radius: 10px;
  padding: 20px 60px;
}

h2 {
  font-size: 3rem;
}

h2,
buttom.reset {
  letter-spacing: 0.02em;
}

.container buttom.reset {
  padding: 15px 20px;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
  border: solid 1px var(--border-color);
  border-radius: 8px;
  color:var(--primary-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: var(--button-color);
    z-index: -1;
    transition: width 150ms ease-in-out;
  }

  &:hover {
    &:after {
      width: 110%;
    }
  }
}

.game{
  border-radius: 8px;
  width: 430px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px; 
}

.item{
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--open-box-color);
  border-radius: 8px;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;

  &:after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg-card-color);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 8px;
  }
}

.item.boxOpen{
  transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after{
  transform: rotateY(180deg);
}

